<h3>Welcome to the EK-Blog app!</h3>
<hr/>
<p style="font-size: 14px">
    Hello, <b>{{ name }}.</b>
</p>
<p>Please click below to confirm your email
    <a href="{{ url }}"><b>сonfirm.</b></a>
</p>
<hr/>
<p style="margin-top: 30px; font-style: italic">
    If you did not request this email you can safely ignore it.
</p>
