<h3>Reset password EK-Blog</h3>
<hr/>
<p style="font-size: 14px">
    Hello, <b>{{ name }}.</b>
</p>
<p>Please click below to confirm
    <a href="{{ url }}"><b>reset your password.</b></a>
</p>
<hr/>
<p style="margin-top: 30px; font-style: italic">
    If you did not request this email you can safely ignore it.
</p>
